[submodule "pc_connect_warehouse_yellowcube_soap/wse-php"]
	path = pc_connect_warehouse_yellowcube_soap/wse-php
	url = https://github.com/robrichards/wse-php.git
[submodule "pc_connect_warehouse_yellowcube/wse-php"]
	path = pc_connect_warehouse_yellowcube/wse-php
	url = https://github.com/robrichards/wse-php.git
