<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <!-- Makes the whole 'Connector' menu be visible only for those users belonging to pc_client_care or pc_admin. -->
        <record id="connector.menu_connector_root" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('pc_connect_master.pc_client_care'), ref('pc_connect_master.pc_admin')])]" />
        </record>

        <!-- Menu Messaging. -->
        <menuitem
            name="Messaging"
            id="menuitem_messaging"
            parent="connector.menu_connector_root"
            sequence="200" />

        <record id="menuitem_messaging" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('pc_connect_master.pc_client_care'), ref('pc_connect_master.pc_admin')])]" />
        </record>

        <menuitem
            name="Emails"
            action="mail.action_view_mail_mail"
            id="messaging_emails"
            parent="menuitem_messaging"
            sequence="10" />

        <menuitem
            name="Templates"
            action="email_template.action_email_template_tree_all"
            id="messaging_templates"
            parent="menuitem_messaging"
            sequence="20" />

        <!-- Menu Management. -->
        <menuitem
            name="Management"
            id="management"
            parent="connector.menu_connector_root"
            sequence="50" />

        <!--  Extending the connectors menu to set a view for the Connect Transport -->
        <menuitem
            name="Connect Transports"
            action="pc_connect_transport.action_connect_transport"
            id="Connect_transport_menu_item"
            parent="management"
            sequence="21" />

        <menuitem
            name="Scheduled Actions"
            action="action_ir_scheduler"
            id="management_ir_cron"
            parent="management"
            sequence="20" />

        <!-- QUEUE.JOB -->

        <menuitem
            name="Jobs"
            id="connector.menu_queue_job"
            parent="connector.menu_queue"
            action="action_show_jobs"
            sequence="20" />

        <menuitem
            name="Jobs by State"
            id="jobs_by_state"
            parent="connector.menu_queue"
            sequence="21" />

        <menuitem
            name="Active"
            action="action_show_active_jobs"
            id="jobs_active"
            parent="jobs_by_state"
            sequence="1" />

        <menuitem
            name="Enqueued"
            action="action_show_enqueued_jobs"
            id="jobs_enqueued"
            parent="jobs_by_state"
            sequence="2" />

        <menuitem
            name="Pending"
            action="action_show_pending_jobs"
            id="jobs_pending"
            parent="jobs_by_state"
            sequence="3" />

        <menuitem
            name="Failed"
            action="action_show_failed_jobs"
            id="jobs_failed"
            parent="jobs_by_state"
            sequence="4" />

        <menuitem
            name="Jobs by Type"
            id="jobs_by_type"
            parent="connector.menu_queue"
            sequence="22" />

        <menuitem
            name="Product"
            action="action_show_product_jobs"
            id="jobs_product"
            parent="jobs_by_type"
            sequence="1" />

        <menuitem
            name="Partner"
            action="action_show_partner_jobs"
            id="jobs_partner"
            parent="jobs_by_type"
            sequence="2" />

        <menuitem
            name="Sale Order"
            action="action_show_sale_order_jobs"
            id="jobs_sale_order"
            parent="jobs_by_type"
            sequence="3" />


        <!-- START OF MENU PC SALES. -->
        <menuitem
            name="E-Commerce"
            id="pc_menu_sales"
            groups="pc_client" />

        <menuitem
            name="Sales"
            id="pc_menu_sales_sales"
            parent="pc_menu_sales"
            groups="pc_client"
            sequence="0" />
        <menuitem
            name="Customers"
            id="pc_menu_sales_sales_customers"
            parent="pc_menu_sales_sales"
            groups="pc_client"
            sequence="10"
            action="base.action_partner_form" />
        <menuitem
            name="Quotations"
            id="pc_menu_sales_sales_quotations"
            parent="pc_menu_sales_sales"
            groups="pc_client"
            sequence="20"
            action="sale.action_quotations" />
        <menuitem
            name="Sale Orders"
            id="pc_menu_sales_sales_saleorders"
            parent="pc_menu_sales_sales"
            groups="pc_client"
            sequence="30"
            action="sale.action_orders" />
        <menuitem
            name="Delivery Orders"
            id="pc_menu_sales_sales_deliveryorders"
            parent="pc_menu_sales_sales"
            groups="pc_client"
            sequence="40"
            action="stock.action_picking_tree" />

        <menuitem
            name="Accounting"
            id="pc_menu_sales_accounting"
            parent="pc_menu_sales"
            groups="pc_client"
            sequence="10" />
        <menuitem
            name="Invoices"
            id="pc_menu_sales_sales_invoices"
            parent="pc_menu_sales_accounting"
            groups="pc_client"
            sequence="10"
            action="account.action_invoice_tree1" />

        <menuitem
            name="Logistics"
            id="pc_menu_sales_logistics"
            parent="pc_menu_sales"
            groups="pc_client"
            sequence="20" />
        <menuitem
            name="Products"
            id="pc_menu_sales_sales_products"
            parent="pc_menu_sales_logistics"
            groups="pc_client"
            sequence="10"
            action="product.product_normal_action_sell" />

        <menuitem
            name="Purchase Orders"
            id="pc_menu_sales_sales_purchase_orders"
            parent="pc_menu_sales_logistics"
            groups="pc_client"
            sequence="20"
            action="purchase.purchase_form_action" />
        <menuitem
            name="Incoming Shipments"
            id="pc_menu_sales_sales_incomingshipments"
            parent="pc_menu_sales_logistics"
            groups="pc_client"
            sequence="30"
            action="stock.action_picking_tree4" />
        <menuitem
            name="Recall List"
            id="pc_menu_sales_sales_recall_list"
            parent="pc_menu_sales_logistics"
            groups="pc_client"
            sequence="40"
            action="action_stock_move_view" />

    </data>
</openerp>
